<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.mapper.AdminMapper">
<!--    定义了与管理员相关的数据库操作接口。    -->
    <!-- 检查管理员账号和密码是否匹配 -->
    <select id="getMatchCount" resultType="int">
        SELECT COUNT(*) FROM admin WHERE admin_id = #{adminId} and password = #{password}
    </select>

    <!-- 更新管理员密码 -->
    <update id="rePassword">
        UPDATE admin SET password = #{newPasswd} WHERE admin_id = #{adminId}
    </update>

    <!-- 根据 adminId 获取密码 -->
    <select id="getPasswd" resultType="String">
        SELECT password FROM admin WHERE admin_id = #{id}
    </select>

</mapper>