<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.mapper.BookMapper">

    <select id="queryBook" parameterType="String" resultType="com.book.domain.Book">
        SELECT book_id, name, author, publish, isbn, introduction, language, price, pubdate, class_id, pressmark, state
        FROM book_info
        WHERE book_id LIKE CONCAT('%', #{searchWord}, '%')
        OR name LIKE CONCAT('%', #{searchWord}, '%')
    </select>

    <select id="getAllBooks" resultType="com.book.domain.Book">
        SELECT book_id, name, author, publish, isbn, introduction, language, price, pubdate, class_id, pressmark, state
        FROM book_info
    </select>

    <select id="getBook" parameterType="long" resultType="com.book.domain.Book">
        SELECT book_id, name, author, publish, isbn, introduction, language, price, pubdate, class_id, pressmark, state
        FROM book_info
        WHERE book_id = #{bookId}
    </select>

    <delete id="deleteBook" parameterType="long">
        DELETE FROM book_info WHERE book_id = #{bookId}
    </delete>

    <select id="matchBook" parameterType="String" resultType="int">
        SELECT count(*)
        FROM book_info
        WHERE book_id LIKE CONCAT('%', #{searchWord}, '%')
        OR name LIKE CONCAT('%', #{searchWord}, '%')
    </select>

    <insert id="addBook" parameterType="com.book.domain.Book">
        INSERT INTO book_info (name, author, publish, isbn, introduction, language, price, pubdate, class_id, pressmark, state)
        VALUES (#{name}, #{author}, #{publish}, #{isbn}, #{introduction}, #{language}, #{price}, #{pubdate}, #{classId}, #{pressmark}, #{state})
    </insert>

    <update id="editBook" parameterType="com.book.domain.Book">
        UPDATE book_info
        SET name = #{name}, author = #{author}, publish = #{publish}, isbn = #{isbn},
        introduction = #{introduction}, language = #{language}, price = #{price},
        pubdate = #{pubdate}, class_id = #{classId}, pressmark = #{pressmark}, state = #{state}
        WHERE book_id = #{bookId}
    </update>

</mapper>
